@import "./../../variables.module.scss";
.detailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    width: 100%;
    .backButton {
        position: absolute;
        top: 2em;
        left: 2em;
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    .imageContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: 80vh;
        width: auto;
        padding: 0.5em;
        border-radius: 1.7em;
        background-color: rgba(white, 0.3);
        animation: imageIn 1000ms ease-in-out;
        @keyframes imageIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .mainImage {
            width: auto;
            height: calc(100% - 5em);
            border-radius: 1.5em;
        }
        .allImagesContainer {
            height: 4em;
            width: 95%;
            margin: auto;
            img {
                max-height: 100%;
                width: auto;
                border-radius: 5px;
            }
        }
        .backgroundShape1 {
            position: absolute;
            top: 2em;
            left: 5em;
            width: 10em;
            height: 15em;
            background: linear-gradient(90deg, rgba(white, 0.2), rgba(white, 0.1));
            border-radius: 1em;
            z-index: -1;
            animation: shape1 1s forwards ease-in-out;
            @keyframes shape1 {
                0% {
                    transform: rotate(30deg) translate(0, 0);
                }
                100% {
                    transform: rotate(0deg) translate(-10em, -4em);
                }
            
            }
        }
        .backgroundShape2 {
            position: absolute;
            bottom: 5em;
            right: 5em;
            width: 14em;
            height: 7em;
            background: linear-gradient(0deg, rgba(white, 0.2), rgba(white, 0.1));
            border-radius: 1em;
            z-index: -1;
            animation: shape2 1s forwards ease-in-out;
            @keyframes shape2 {
                0% {
                    transform: translate(0,0);
                }
                100% {
                    transform: translate(6em, 8em);
                }
            }
        }
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 60%;
        padding: 1em;
        .backgroundTitle {
            position: absolute;
            top: 0.5em;
            left: 30%;
            font-size: 7em;
            width: 200%;
            opacity: 0;
            animation: backgroundTitleIn 3s ease-in-out forwards;
            @keyframes backgroundTitleIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 0.15;
                }
            }
        }
        .productTitle {
            font-size: 2.5em;
            transform: rotate(90deg) translateY(50px);
            opacity: 0;
            transform-origin: left;
            z-index: -1;
            animation: titleIn 500ms 600ms ease-in-out forwards;
            @keyframes titleIn {
                from {
                    transform:translateX(-100px);
                    opacity: 0;
                }
                to {
                    transform:translateX(0px);
                    opacity: 1;
                }
            }
        }
        .productPrice {
            font-size: 1.2em;
            font-weight: 700;
            color: rgb(51, 200, 71);
            opacity: 0;
            animation: priceIn 300ms 900ms ease-in-out forwards;
            @keyframes priceIn{
                from {
                    transform: translateY(-20px);
                    opacity: 0;
                }
                to {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        .productDescription {
            font-size: 1em;
            font-weight: 300;
            margin: 1em 0;
            width: 90%;
            opacity: 0;
            max-width: 30em;
            animation: descIn 700ms 800ms ease-in forwards;
            @keyframes descIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        .optionsContainer {
            margin: 1em 0;
            .singleTypeContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;
                opacity: 0;
                animation: optionsIn 500ms 1.2s ease-in-out forwards;
                @keyframes optionsIn {
                    from  {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                .optionName {
                    width: 100%;
                }
                .singleOption {
                    input[type="radio"] {
                        display: none;
                    }
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1em;
                        border-radius: 5px;
                        background-color: rgba($color-1, 0.2);
                        width: 3em;
                        font-weight: 500;
                        transition: all 100ms ease-in-out;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba($color-1, 0.4);
                        }
                    }
                    input[type="radio"]:checked  + p{
                        outline: solid 1px white;
                        background-color: rgba($color-1, 0.4);
                        transition: all 50ms ease-in-out;
                    }
                }
            }
        }
        .addToCartButton, .checkoutButton, .alreadyInCart {
            padding: 1em;
            border-radius: 10em;
            width: 50%;
            border: solid 1px $color-1;
            background-color: rgba($color-1, 0.3);
            font-size: 1em;
            margin: 0.5em;
            scale: 0;
            animation: growButton 500ms 1000ms cubic-bezier(.45,.07,.53,1.42) forwards;
            transition: all 200ms ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $color-1;
                color: $color-2;
                transform: scale(1.1);
            }
            @keyframes growButton {
                from {
                    scale: 0;
                }
                to {
                    scale: 1;
                }
            }
        }
        .checkoutButton {
            background-color: rgba($color-1, 0);
        }
        .alreadyInCart {
            border: solid 2px rgb(85, 211, 93);
            background-color: rgba(rgb(85, 211, 93), 0.3);
            &:hover {
                color: $color-1;
                background-color: rgba(rgb(85, 211, 93), 0.3);
                transform: scale(1);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .detailsContainer {
        flex-direction: column;
        .imageContainer {
            position: sticky;
            top: 0;
            width: 95%;
            height: auto;
            margin-top: 4em;
        }
        .infoContainer {
            background-color: $color-2;
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
            z-index: 2;
            .backgroundTitle {
                display: none;
            }
            .addToCartButton, .checkoutButton, .alreadyInCart {
                width: 100%;
            }
        }
    }
}