@import "../variables.module.scss";
.cartPageContainer {
    position: fixed;
    top: 2em;
    right: 2em;
    display: flex;
    z-index: 10;
    transition: all 200ms ease-in-out;
    &.showing {
        top: 0.5em;
        right: 0.5em;
        justify-content: center;
        height: calc(100vh - 1em);
        width: 30%;
        min-width: 25em;
        border-radius: 1em;
        background-color: $color-1;
        padding-top: 3em;
        box-shadow: 2px 2px 5px rgba($color-2, 0.5);
    }
    &.hidden {
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border: solid 1px $color-1;
        background-color: $color-2;
        color: $color-1;
        border-radius: 10em;
        cursor: pointer;
        &:hover {
            background-color: $color-1;
            svg {
                fill: $color-2;
            }
        }
        .cartButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 10em;
            border: none;
            font-size: 1.1em;
            background-color: transparent;
            .numLines {
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-1;
                width: 2em;
                height: 2em;
                border-radius: 10em;
                text-align: center;
                font-size: 0.6em;
                font-weight: 600;
                color: $color-2;
            }
        }
    }
    .closeButton {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10em;
        border: none;
        background-color: rgba($color-2, 0.5);
        color: $color-1;
        font-size: 1.2em;
        transition: all 200ms ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $color-1;
            color: $color-2;
        }
    }
    .emptyCartMessage {
        width: 100%;
        text-align: center;
        color: rgba($color-2, 0.3);
        font-size: 2em;
        margin-top: 5em;
    }
    .contentsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        width: 100%;
        padding: 1em;
        border-radius: 1.2em;
        background-color: rgba($color-1, 0.1);
        max-height: 75vh;
        overflow-y: scroll;
        .lineContainer {
            display: flex;
            justify-content: space-between;
            color: $color-2;
            background-color: rgba($color-1, 0.2);
            list-style: none;
            padding: 1em;
            border-radius: 1em;
            font-size: 0.8em;
            width: 100%;
            background-color: rgba($color-2, 0.1);
            .image {
                border-radius: 0.5em;
                width: auto;
                height: 4em;
            }
            .titleContainer {
                width: 30%;
                .title {
                    font-weight: 600;  
                }
                .option {
                    opacity: 0.5;
                    font-weight: 500;
                }
            }
            .quantityContainer {
                display: flex;
                align-items: center;
                gap: 0.5em;
                width: 20%;
                .quantityButton {
                    width: 2em;
                    height: 2em;
                    font-size: 1em;
                    border-radius: 0.5em;
                    border: none;
                    background-color: rgba($color-2, 0.2);
                    transition: all 200ms ease-in-out;
                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color-2, 0.4);
                    }
                
                }
            }
            .price {
                display: flex;
                align-items: center;
                width: 20%;
            }
            .removeItem {
                width: 10%;
                border-radius: 1em;
                border: none;
                background-color: rgba($color-2, 0.2);
                transition: all 200ms ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: rgba($color-2, 0.4);
                }
            }
        }
    }
    .summaryContainer {
        position: absolute;
        bottom: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .totalContainer {
            display: flex;
            justify-content: space-between;
            width: 70%;
            color: $color-2;
            font-weight: 600;
            font-size: 1.1em;
        }
        .checkoutButton {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            padding: 1em;
            text-align: center;
            background-color: $color-2;
            color: $color-1;
            text-decoration: none;
            border-radius: 10em;
            border: none;
            opacity: 0.7;
            font-size: 1.2em;
            font-weight: 600;
            transition: all 200ms ease-in-out;
            .horns {
                position: absolute;
                top: 0;
                transition: all 150ms ease-in-out;
                font-size: 1em;
                z-index: -1;
                color: black;
            }
            &:hover {
                transform: scale(1.1);
                opacity: 1;
                cursor: pointer;
                .horns {
                    top: -0.65em;
                    font-size: 5em;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .cartPageContainer {
        &.showing {
            width: calc(100% - 1em);
            min-width: calc(100% - 1em);
        }
    }
}