
.cartPageContainer {
    .contentsContainer {
        width: 80%;
        padding: 1em;
        border: solid 2px white;
        .lineContainer {
            display: flex;
            color: white;
            list-style: none;
        }
    }
}