@import "variables.module.scss";
.main {
  padding: 1em;
  img {
    width: 100%;
    height: 100%;
  }
  .allProducts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10%;
    gap: 3em 5%;
    .previewContainer {
      width: 25%;
      height: 25em;
      min-width: 15em;
      text-decoration: none;
      color: white;
      border-radius: 1.5em;
      background: rgba(white, 0.2);
      transition: all 200ms ease-in-out;
    }
    .productContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 30%;
      min-width: 15em;
      text-decoration: none;
      color: white;
      border-radius: 1.5em;
      background: rgba(white, 0.2);
      opacity: 0;
      animation: fadeIn 1200ms ease-in-out forwards;
      animation-delay: 0ms;
      transition: all 200ms ease-in-out;
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        50% {
          transform: translateY(0px);
        }
        to {
          opacity: 1;
          transform: translateY(0px) scale(1);
        }
      }
      &:hover {
        background: rgba(white, 0.3);
        scale: 0.97;
      }
      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 4/5;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        img {
          width: auto;
          height: 100%;
          border-radius: 1.5em 1.5em 0 0;
        }
      }
      .textContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        h2 {
          font-size: 1.5em;
          margin: 0;
          transition: all 200ms ease-in-out;
          width: 100%;
          margin-bottom: 0.7em;
        }
        .price {
          width: 50%;
        }
        .addCartButton {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2em;
          width: 2em;
          border-radius: 50%;
          font-size: 1em;
          border: none;
          background-color: rgba($color-1, 0.3);
          transition: all 150ms ease-in-out;
          &:hover {
            background-color: rgba($color-1, 0.5);
            border: solid 1px $color-1;
            cursor: pointer;
          }
          &.inCart {
            background-color: rgba(119, 224, 101, 0.5);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    .allProducts {
      align-items: center;
      justify-content: center;
      gap: 1em;
      padding: 0;
      .productContainer {
        width: 45%;
        min-width: auto;
      }
    }
  }
}